<p>
  <b>Name:</b>
  <%=h @copyright.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @copyright.description %>
</p>


<%= link_to 'Edit', edit_copyright_path(@copyright) %> |
<%= link_to 'Back', copyrights_path %>
