<dl id="meta">
	<dt><a href="http://www.swiftkickpress.com" title="Swiftkick Press">SwiftkickPress.com</a></dt>
	<dd>All works are licensed under a <a href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons License</a> permitting non-commercial sharing with attribution unless stated otherwise.</dd> 
          <dd><a href="http://validator.w3.org/check/referer">XHTML</a> &bull; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &bull; <a href="http://swiftkickpress.com/works.rss">RSS / XML</a></dd>
	<dd><a href="http://www.johnhutch.com" title="John Hutchinson Web Design and Development">Developed and Designed by John Hutchinson</a>, <a href="http://www.arbitrarynoun.com">Sam Beatrice</a>, and Jonathan Hall</dd>
</dl>