<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

	<%= render :partial => 'layouts/head' %>

	<body>
		<div id="header">
		  	<div class="container">
				<h1 id="logo"><a href="/">Swiftkick Press</a></h1>
				<h2 id="tagline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </h2>
				<hr />
				<ul id="nav">
					<li><a href="/categories/1" class="first">Fiction</a></li>
					<li><a href="/categories/2">Nonfiction</a></li>
					<li><a href="/categories/3">Comics</a></li>
					<li><a href="/categories/4" class="last">Poetry</a></li>
				</ul>
				
				<%= render :partial => 'layouts/usernav' %>
		  	</div>
		</div>
	
		<div id="main_content" class="container">		
			<div id="featured_works">
				Featured works by category
			</div>
		
			<div id="featured_authors">
				Featured authors
			</div>

			<div id="news">
				News goes here
			</div>
		</div>
		
		<div id="sub_content">
			<div class="container">
				<h2>Newly added works</h2>
				<ul id="works_list">
					<li>blah</li>
					<li>blah</li>
					<li>blah</li>
					<li>blah</li>
				</ul>
				
				<div id="google_ad">
					Google Ad!
				</div>
				
				<%= render :partial => 'layouts/utility_nav' %>
				<%= render :partial => 'layouts/footer' %>
			</div>
		</div>
		

	</body>
</html>