<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

	<%= render :partial => 'layouts/head' %>

	<body>
		<div id="hero" class="container">
			<h1 id="logo"><a href="/">Swiftkick Press</a></h1>
			<div id="tagline">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam.</div>
		</div>
		
		<%= yield :layout %>
		
		<%= render :partial => 'layouts/footer' %>
		<%= render :partial => 'layouts/usernav' %>

	</body>
</html>